@font-face {
  font-family: Clash;
  src: url("/clash.ttf");
}
* {
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-family: "Clash", sans-serif !important;
  transition: all 0.4s !important;
  scroll-behavior: smooth;
}
body {
}
.card:hover {
  transition: all 1s !important;
  box-shadow: 0px 0px 10px #6e6e6e;
}
.gray {
  background: rgb(237, 237, 237);
}
input:focus {
  box-shadow: 0px 0px 0px transparent !important;
}
.col {
  background: #ffffff81;
}
.blk {
  background: #1b1b1b;
}
